<div class="container"
fxLayout="column"
fxLayoutGap="10px">

<div fxFlex>
       <div>
          <h3>Contact Us</h3> 
          <hr>
       </div>
</div>

<div fxFlex fxFlexOffset="20px" class="form-size" [@expand]>
  <h3>Send us your feedback</h3>
  <p>{{ feedbackform.value | json }} {{ feedbackform.status | json}}</p>

  <form novalidate [formGroup] = "feedbackform" (ngSubmit)="onSubmit()" *ngIf="feedbackCopy == null">
    <p> 
      <md-input-container class="half-width" dividerColor = "{{ (formErrors.firstname) ? 'warn' : 'Primary'}}">
        <input mdInput formControlName = "firstname" placeholder="FirstName" type="text" required>
        <md-hint><span [hidden] = "!(formErrors.firstname)" >
          {{formErrors.firstname}}
          </span>
        </md-hint>
      </md-input-container>
      <md-input-container class="half-width" dividerColor = "{{(formErrors.lastname) ? 'warn' : 'Primary'}}">
        <input mdInput formControlName = "lastname" placeholder="LastName" type="text" required>
        <md-hint span [hidden] = "!(formErrors.lastname)" >
          {{formErrors.lastname}}
        </md-hint>
      </md-input-container>
    </p>
    <p>
      <md-input-container class="half-width" dividerColor = "{{ (formErrors.telnum) ? 'warn' : 'Primary'}}">
        <input mdInput formControlName = "telnum" placeholder="Tele-Num" type="tel" pattern="[0-9]*" required>
        <md-hint span [hidden] = "!(formErrors.telnum)" >
          {{formErrors.telnum}}
        </md-hint>                       
      </md-input-container> 
      <md-input-container class="half-width" dividerColor = "{{ (formErrors.email) ? 'warn' : 'Primary'}}">
        <input mdInput formControlName = "email" placeholder="Email" type="email" required>
        <md-hint span [hidden] = "!(formErrors.email)" >
          {{formErrors.email}}
        </md-hint>  
      </md-input-container>
    </p>
    <table class="form-size">
      <td>
        <md-slide-toggle formControlName = "agree">May We Contact You</md-slide-toggle>
      </td>
      <td>
      <md-select placeholder = "how?" formControlName = "contacttype">
        <md-option *ngFor="let ctype of contacttype" [value]="ctype">{{ ctype }}</md-option>
      </md-select>
      </td>
    </table>
          <p>
            <md-input-container class="full-width">
              <textarea mdInput formControlName="message" placeholder="Your Feedback" rows=12></textarea>
            </md-input-container>
          </p>
    <button type="submit" md-button class="background-primary text-floral-white">Submit</button>
  </form>
</div>
  <div fxFlex *ngIf="feedback != null"  [@expand]>
    {{timer()}}
    <h3>Your Submission</h3> 
    <p>First Name :  {{feedback.firstname}}</p>
    <p>Last Name :  {{feedback.lastname}}</p>
    <p>Tel. Number :  {{feedback.telnum}}</p>
    <p>Email :  {{feedback.email}}</p>
    <p>Contact You? :  {{feedback.agree}}</p>
    <p>How? :  {{feedback.contacttype}}</p>
    <p>Feedback :  {{feedback.message}}</p>
  </div>
  <div [hidden]="feedbackCopy == null || feedback != null"  [@expand]>
    <md-spinner></md-spinner><h4>Just a Moment</h4>
</div>
<div fxFlex>
 <h3>Location Information</h3> 
 <div fxLayout="column" fxLayout.gt-sm="row">
     <div fxFlex="50" fxFlexOffset="20px">
           <h4>Our Address</h4>
           <address>
             121, Clear Water Bay Road<br>
             Clear Water Bay, Kowloon<br>
             HONG KONG<br>
             <i class="fa fa-phone"></i>: +852 1234 5678<br>
             <i class="fa fa-fax"></i>: +852 8765 4321<br>
             <i class="fa fa-envelope"></i>: 
                   <a href="mailto:confusion@food.net">confusion@food.net</a>
          </address>
          <p></p>
           <div>
               <a md-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
               <a md-raised-button><i class="fa fa-skype"></i> Skype</a>
               <a md-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
           </div>
       </div>
     <div fxFlex="40">
           <h4>Map of our Location</h4>
     </div>
   </div>
 </div>
</div>