<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">
 
<div fxFlex="40" *ngIf="dish" [@visibility] = "visibility" [@expand]>
    <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <md-card-content>
          <p>{{dish.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
          <button md-button (click)="goBack()">BACK</button>
          <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
          
        </md-card-actions>
      </md-card>
</div>
<div [hidden] = "dish || errMess">
<md-spinner></md-spinner><h4>Just a Moment</h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>
<div fxFlex="40" fxFlexOffset="20px" class="form-size" *ngIf="dish" [@expand] [@visibility] = "visibility">
    <md-list>
        <h3 md-line>Comments</h3>
        <md-list-item *ngFor="let comments of dish.comments">
           <p md-line>{{comments.comment}}</p>   
           <p md-line>{{comments.rating}} Stars</p> 
           <p md-line> -- {{comments.author}} 
              {{comments.date | date}} </p> 
        </md-list-item>

        <md-list-item *ngIf="commentform.valid">
          <p md-line>{{commentform.value.comment}}</p> 
          <p md-line>{{commentform.value.rating}} Stars</p> 
          <p md-line>--{{commentform.value.author}}</p>   
       </md-list-item>

      </md-list>
  <form novalidate [formGroup] = "commentform" (ngSubmit)="onSubmit()">
    <p> 
      <md-input-container class="full-width" dividerColor = "{{ (formErrors.author) ? 'warn' : 'Primary'}}">
        <input mdInput formControlName = "author" placeholder="User Name" type="text" required>
        <md-hint><span [hidden] = "!(formErrors.author)" >
          {{formErrors.author}}
          </span>
        </md-hint>
      </md-input-container>
   </p>
   <p>
    <md-slider formControlName = "rating"
    class="example-margin"
    [disabled]=false
    [invert]=false
    [max]=5
    [min]=1
    [step]=1
    [thumb-label]=true
    [tick-interval]=1
    [value]=3
    [vertical]=false>
   </md-slider>
   </p>
    <p>
            <md-input-container class="full-width">
              <textarea mdInput formControlName="comment" placeholder="Your Feedback" rows=8 required></textarea>
              <md-hint><span [hidden] = "!(formErrors.comment)" >
                {{formErrors.comment}}
                </span>
              </md-hint>
            </md-input-container>
    </p>
    <button type="submit" [disabled] = "commentform.invalid" md-button class="background-primary text-floral-white">Submit</button>
  </form>
  </div>
</div>